
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

@media only screen and (max-width: 768px) {
    body {
        background: black;
    }
    
    .lead {
        color: #fff;
    }

    .addLocation_btn {
        background: #26a69a;
    }

    
    .list-group-item-info, .rss-feed, footer, .notification, .addhead {
        display: none;
    }

}